<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-light">
            <h2 class="text-center">ADD A STUDENT</h2>
        </div>
        <div class="card-body bg-success text-light">
            <form   [formGroup]="studentForm">
                <div class="form-group row">
                    <label for="firstName" class="col-md-4">First Name</label>
                    <div class="col-md-8">
                        <input id="firstName" 
                                type="text" 
                                class="form-control" 
                                name="firstName" 
                                formControlName="firstName"
                        >
                    </div>
                </div>

                <div class="form-group row">
                    <label for="lastName" class="col-md-4">Last Name</label>
                    <div class="col-md-8">
                        <input id="lastName" type="text" class="form-control" 
                        name="lastName"
                        formControlName="lastName" 
                         >
                    </div>
                </div>

                <div class="form-group row">
                    <label for="rollNumber" class="col-md-4">Roll Number</label>
                    <div class="col-md-8">
                        <input id="rollNumber" type="number" class="form-control" 
                        name="rollNumber"
                        formControlName="rollNumber"
                            >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="rollNumber" class="col-md-4">Class</label>
                    <div class="col-md-8">
                        <input id="studentClass" type="text" class="form-control" 
                        name="studentClass"
                        formControlName="studentClass"
                             >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="section" class="col-md-4">Section</label>
                    <div class="col-md-8">
                        <input id="rollNumber" type="text" class="form-control" 
                        name="section" formControlName="section"
                             >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="rollNumber" class="col-md-4">Maths Marks</label>
                    <div class="col-md-8">
                        <input id="maths" type="number" class="form-control" 
                        name="maths" formControlName="maths"
                             >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="english" class="col-md-4">English Marks</label>
                    <div class="col-md-8">
                        <input id="english" type="number" class="form-control" 
                        name="english" formControlName="english"
                              >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="rollNumber" class="col-md-4">Computer Marks</label>
                    <div class="col-md-8">
                        <input id="computer" type="number" class="form-control" 
                        name="computer" formControlName="computer"
                            >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="rollNumber" class="col-md-4">Science Marks</label>
                    <div class="col-md-8">
                        <input id="science" type="number" class="form-control" 
                        name="science" formControlName="science"
                             >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="rollNumber" class="col-md-4">SSt Marks</label>
                    <div class="col-md-8">
                        <input id="sst" type="number" class="form-control" 
                        name="sst" formControlName="sst"
                             >
                    </div>
                </div>
                
                <div class="panel-footer">
                    <button class="btn btn-primary" type="submit" >Save</button>
                </div>
            </form>
        </div>
    </div>



</div>