<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Student Details</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="#" alt="StudentImage"/>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        First Name : {{firstName}}
                    </div>
                    <div class="row">
                        First Name : {{lastName}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>